
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-style-7{
    max-width:400px;
    margin:50px auto;
    
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #e9c85d;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 5px 2px 5px;
    color: chocolate;
    font-size: 20px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="email"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    color: #B9B9B9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 35px;
    line-height: 25px;
    font-size: 20px;
    padding: 0;text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span{
    background-color: #e9c85d;
    display: block;
    padding: 3px 2px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 30px
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: transparent;
    color:#c90000;
    border: 2px solid #c90000;
    
    padding: 10px 20px 10px 20px;
    border-bottom: 5px solid #a22;
    border-radius: 5px;
    color:#c90000;
    font-size: 20px;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #c80000;
    color:#FFF;
    border-radius: 5px;
    cursor: pointer;
    
}
.barra{
    position: fixed;
    background: #f22;
    margin-bottom: 15px;
    height: 100%;
    width: 400px;
}

.salirSesion{
    margin-top: 70px;
    background: #922;
    padding: 15px 0px;
    text-align: center;
}
.salirSesion:hover{
    background: #a22;
}
.barra h4{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 25%;
    margin-bottom: 10px;
}
.menu a{
    margin-bottom: 15px;
    text-align: center;
    font-weight: 550;
    transition: all 0.6s ease;
}
.menu a:hover{
    color: #922;
    text-decoration: none;
    transition: all 0.6s ease;
}
.logoB{
    width: 150px;
    position: absolute;
    padding-top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
hr{
    margin-bottom: 25px;
}
a{
    display: block;
    color: #eee !important;
    margin: 0 15px;
    text-decoration: none;
}

.placePreguntas{
    margin-left: 350px;
    margin-top: 0 auto;
    text-align: center;
    
}
.placePreguntas a, .placePreguntas h2, .placePreguntas h4{
    color: #555 !important;
}
.placePreguntas h2, .placePreguntas h4{
    padding-top:80px;
    padding-left: 50px;
    right: 0;
    margin: auto;
}
.placePreguntas h4{
    padding-top: 10px;
    height: 50px;
    margin-bottom: 8px;
    background-color: #e9c85d;
    width: 80%;
    color: white;
}
.placePreguntas form{
    margin-left: 60px;
    margin-top: 30px;
}
input:hover {
    background-color: #ccc;
}
a:hover{
    color: #aaa !important;
    text-decoration: none;
}

button{
    margin-top: 30px !important;    
    padding: 10px;
    background: #fff;
    border-color: #922;
    box-shadow: none;
    border-radius: 12px;
    transition: all 0.6s ease;
}

button:hover{
    cursor: pointer;
    background: #fcc;
    transition: all 0.6s ease;
}

.centrar{
    text-align: center;
    padding-left: 20%;
}

.botonCrear{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 8px;
    border: 2px solid #0016b0;
  }

.crear{font-style: oblique;font-family: Myriad Pro}


@media (min-width:100px) and (max-width: 500px) {
    .logoB{
        display: none;
    }
    .barra{
        position: absolute;
        width: 100%;
        margin-bottom: 15px;
        padding-top: 0;
        height: 300px;
    }
    .centrar{
        padding-top: 90%;
        padding-left: 7%;
    }
    .placePreguntas, .placePreguntas h2, .placePreguntas h4{
        padding-left: 0px !important;
        
    }
    .placePreguntas h2{
        margin-bottom: -20px;
    }
    .placePreguntas h4{
        margin-top: 15px;
    }
    .placePreguntas{
        margin-left: 0 !important;
        margin-top: 350px;
        display: block;
        position: absolute;
        width: 100%;
    }
}

.jiterry span{font:400 80px/1em Amatic SC; animation:jitter 200ms linear infinite;color:#f06d06;display:inline-block}
@keyframes jitter{ 50%{transform:skewY(1deg) skewX(-1deg) scale(1.012);} }

.placePreguntas .row{
    text-align: center;
    padding: 10px 100px;
}

.placePreguntas .col-md-6{
    padding: 10px;
    font-size: 16px;
}

.placePreguntas input{
    background-color: red;
    width: 70px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: aquamarine;
}
.enviarPrg{
    color:#c90000;
    border: 2px solid #c90000;
    width: 100px;
    padding: 10px 20px 10px 20px;
    border-bottom: 5px solid #a22;
    border-radius: 5px;
    font-size: 20px;
}
.modImagen{
    width: 75% !important;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: -60px;
}
.resGif{
    width: 180px;
    position: absolute;
    margin: auto;
    top:50%;
    left: 0;
    right: 0;
    height: 180px;
    border-radius: 50%;
}

.cntrh4{
    text-align: center;
    margin-top: 80px;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    top:64%;
    left: 0;
    right: 0;
}
.botonRegresar{
    position: absolute;
    margin: auto;
    margin-top: 150px;
    top:64%;
    left: 0;
    right: 0;
    width: 100px;
}
@media (max-width: 730px) {
  .resGif{
    display: block;
    top:30%;
  }
    h4{
        top:45%;
    }
    .botonRegresar{
        top:50%;
    }
    .modImagen{
        margin-top: 20px;
    }
}

.centrar2{
    padding-top: 4%;
    margin-left: 30%;
    text-align: center;
    width: 80%;
}

.centrar2 th{
margin: 20px;
}



#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
   
    background-color:#e9c85d;
    color: white;
}


.titulo{
    padding-top: 45pt;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    font-family: serif;
    color: red;
}

h2{
    color: red;
    text-align: center;
}

.foto img{
    margin: 0 auto;
    display: block;
    width: 40%;
    height: auto;
}

html{padding: 0;margin: 0}
input[type="submit"] {
    background: #a00;
    font-weight: 650;
    color: white;    
    margin-left: 10%;
}
input[type="text"] {
    color: #444;
    font-weight: 600;
    background: #eee;
}
input[type="text"]::placeholder { 
    color: #666    ; 
}

#iz, #de{
    float: left;
}
#iz{
    width: 40%;
    margin-top: 30px;
    margin-left: 30px;
    z-index: 1000;
}
#iz form{
    padding-left: 10%;
    padding-top: 20%;
}
form input{
    margin-top: 25px;
    border-radius: 12px;
    padding: 10px;
}
form h4{
    margin-left:10%;
    color: #c00;
}
#de{
    margin-top:25px;
    float: right;
    z-index: 10;
}
#img-index{
    display: inline-block;
    width: 750px;
}
#cora-movil{
    display: none;
}
@media only screen and (max-width: 1450px) {
    #img-index{
        width: 650px;
        margin-top: 5%;
    }
}
@media only screen and (max-width: 1150px) {
    #img-index{
        width: 450px;
        margin-top: 25%;
    }
}
@media only screen and (max-width: 950px) {
    #img-index{
        width: 300px;
        margin-top: 50%;
    }
    form{
        margin-top: 25%;
    }
}
@media only screen and (max-width: 730px) {
    form{
        padding: 0 !important;
        padding-top: 250px  !important;
    }
    #cora-movil, form{
        display: block; 
        width: 200px; 
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto !important;
        
    }
    #img-index{
        display: none;
        top:150px;
    }
    
    
}
.botonRegresar{
    background-color: #449d44;
    border-color: #398439;
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 600px;
    font-family: sans-serif;
    
}
.botonRegresar:Hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    background-color: #ec971f;
    border-color: #d58512;
    color: white;
    text-decoration: none;
    text-align: center;
    align-content: center;
    
}

h4{
    margin-left: 500px;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
}
.row{
    align-content: center;
    text-align: center;
}

.imgEspera img{
    width: 40%;
    margin-left: 40%;
    text-align: center;
}

.imgEspera h2{
   
    margin-left: 21%;
  
}

.menu h2{
    color: white;
}
