*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-style-7{
    max-width:400px;
    margin:50px auto;
    
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #e9c85d;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 5px 2px 5px;
    color: chocolate;
    font-size: 20px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.form-style-7 input[type="text"],
.form-style-7 input[type="email"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    color: black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 35px;
    line-height: 25px;
    font-size: 20px;
    padding: 0;text-align: center;
    font-family: Garamond;
}

.form-style-7 li > span{
    background-color: #e9c85d;
    display: block;
    padding: 3px 2px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 30px
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"],.enviarPrg{
    background: transparent;
    color:#c90000;
    border: 2px solid #c90000;
    
    padding: 10px 20px 10px 20px;
    border-bottom: 5px solid #a22;
    border-radius: 5px;
    color:#c90000;
    font-size: 20px;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover,.enviarPrg:hover{
    background: #c80000;
    color:#FFF;
    border-radius: 5px;
    cursor: pointer;
    
}
.barra{
    position: fixed;
    background: #f22;
    margin-bottom: 15px;
    height: 100%;
    width: 400px;
}

.salirSesion{
    margin-top: 70px;
    background: #922;
    padding: 15px 0px;
    text-align: center;
}
.salirSesion a{
    color: white;
    display: block;
}
.salirSesion a:hover{
    color: white;
    text-decoration: none;
}


.barra h4{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 25%;
    margin-bottom: 10px;
}
.menu{text-align: center;}
.menu a{
    margin-bottom: 15px;
    text-align: center;
    font-weight: 550;
    transition: all 0.6s ease;
    color: brown;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
}
.menu a:hover{
    color: white;
    text-decoration: none;
    transition: all 0.6s ease;
    background: #922;
    font-weight: bold;
    
}
.logoB{
    width: 150px;
    position: absolute;
    padding-top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
hr{
    margin-bottom: 25px;
}
a{
    margin: 0 15px;
    text-decoration: none;
}

.placePreguntas{
    margin-left: 350px;
    margin-top: 0 auto;
    text-align: center;
    
}
.placePreguntas a, .placePreguntas h2, .placePreguntas h4{
    color: #555 !important;
}
.placePreguntas h2, .placePreguntas h4{
    padding-top:80px;
    padding-left: 50px;
    right: 0;
    margin: auto;
}
.placePreguntas h4{
    padding-top: 10px;
    height: 50px;
    margin-bottom: 8px;
    background-color: #e9c85d;
    width: 80%;
    color: white;
}
.placePreguntas form{
    margin-left: 60px;
    margin-top: 30px;
}

button{
    margin-top: 30px !important;    
    padding: 10px;
    background: #fff;
    border-color: #922;
    box-shadow: none;
    border-radius: 12px;
    transition: all 0.6s ease;
}

button:hover{
    cursor: pointer;
    background: #fcc;
    transition: all 0.6s ease;
}

.centrar{
    text-align: center;
    padding-left: 20%;
    
}

.botonCrear{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 8px;
    border: 2px solid #0016b0;
  }

.crear{font-style: oblique;font-family: Myriad Pro}


@media (min-width:100px) and (max-width: 500px) {
    .logoB{
        display: none;
    }
    .barra{
        position: absolute;
        width: 100%;
        margin-bottom: 15px;
        padding-top: 0;
        height: 300px;
    }
    .centrar{
        padding-top: 90%;
        padding-left: 7%;
    }
    .centrar2{
        margin: 20% 0 0 0;
    }
    .placePreguntas, .placePreguntas h2, .placePreguntas h4{
        padding-left: 0px !important;
        
    }
    .placePreguntas h2{
        margin-bottom: -20px;
    }
    .placePreguntas h4{
        margin-top: 15px;
    }
    .placePreguntas{
        margin-left: 0 !important;
        margin-top: 350px;
        display: block;
        position: absolute;
        width: 100%;
    }
    
}

.jiterry span{font:400 80px/1em Amatic SC; animation:jitter 200ms linear infinite;color:#f06d06;display:inline-block}
@keyframes jitter{ 50%{transform:skewY(1deg) skewX(-1deg) scale(1.012);} }

.placePreguntas .row{
    text-align: center;
    padding: 10px 100px;
}

.placePreguntas .col-md-6{
    padding: 10px;
    font-size: 16px;
}

.placePreguntas input{
    background-color: red;
    width: 70px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: aquamarine;
}


.modImagen{
    width: 75% !important;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: -60px;
}
.resGif{
    width: 180px;
    position: absolute;
    margin: auto;
    top:50%;
    left: 0;
    right: 0;
    height: 180px;
    border-radius: 50%;
}

.cntrh4{
    text-align: center;
    margin-top: 40px;
    position: absolute;
    margin: auto;
    top:64%;
    left: 0;
    right: 0;
}
.botonRegresar{
    position: absolute;
    margin: auto;
    margin-top: 150px;
    top:64%;
    left: 0;
    right: 0;
    width: 100px;
}
@media (max-width: 730px) {
  .resGif{
    display: block;
    top:30%;
  }
    h4{
        top:45%;
    }
    .botonRegresar{
        top:50%;
    }
    .modImagen{
        margin-top: 20px;
    }
}
.divError{text-align: center; margin-top: 5%;}
            .mensajeLoginError{
                font-size: 30px;
                font-family: courier;
            }
            img{width: 200px}
.centrar .lisexo label{
    display: inline-block;
    cursor: pointer;
    color: black;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.centrar .radio label:hover{
      background: rgba(255, 65, 54, 0.1); }
.centrar .radio label:before{
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
     border: 3px solid #FF4136;
}

.centrar input[type="radio"] {
    display: none;
}
.centrar input[type="radio"]:checked + label:before {
      display: none; }
.centrar input[type="radio"]:checked + label {
      padding: 5px 15px;
      background: #e9c85d;
      border-radius: 2px;
      color: white;
    
}
.btnRegresar{
    color:black;
    border: 2px solid #c90000;
    width: 100px;
    padding: 10px 20px 10px 20px;
    border-bottom: 5px solid #a22;
    border-radius: 5px;
    font-size: 20px;
}
.btnRegresar:hover{
    
    color:white;
    background-color: #c90000;
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.placePreguntas input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 35px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.placePreguntas input[type="radio"]:hover {
  background: #9faab7;
}
.placePreguntas input[type="radio"]:checked {
  background: #c90000;
}
.placePreguntas input[type="radio"]:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.placePreguntas input[type="radio"]:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #c90000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  margin-bottom: 5px;
}
.placePreguntas input[type="radio"]{
  border-radius: 50%;
}
.placePreguntas input[type="radio"]::after{
  border-radius: 50%;
}

.row{
    margin: 15px 0;
}

.esconder{
    display: block;
}

.descendente{
    display: none;
}


.divRsp{
    width: 100%;
    height: 80%;
}
.item{
    background-color: transparent;
}
.item img{
    width: 70%;
    padding-left: 35%;
    padding-top: 20px;
}
.item h1{
    font-size: 50px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    padding-left: 7%;
    
}
.item p{
    font-size: 25px;
    padding-left: 7%;
}
.slider{
    text-align: center;
    padding-left: 20%;
    padding-top: 5%
}
.frase{
    font-size: 50px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-style: italic;
    padding-left: 7%;
    color: tomato;
    padding-bottom: 5%;
}

@media only screen and (max-width: 900px) {
    
    .divRsp{
        margin-top: 20%;
        width: 100%;
        height: 80%;
    }
    .slider{
        text-align: center;
        padding-left: 0px;
        padding-top: 45%
}
}
@media only screen and (max-width: 500px) {
    .container{
        padding-top: 20%
    }
    .divRsp{
        margin-top: 10%;
        width: 100%;
        height: 80%;
    }
    .slider{
        text-align: center;
        padding-left: 0px;
        padding-top: 45%
}
    .frase{
    font-size: 50px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-style: italic;
    padding-left: 7%;
    color: tomato;
    padding-bottom: 1%;
    padding-top: 25%;
    
    }
    .barra{
        position: absolute;
        width: 100%;
        margin-bottom: 15px;
        padding-top: 0;
        height: 300
    .centrar2{
        margin: 20% 0 0 0;
    }
}
.carousel-control{
    background-color:wheat;
    opacity: 0.2;
}
.carousel-control:hover{
    background-color: wheat;
    opacity: 0.5;
}
.carousel-control a:after{
    background-color: #e9c85d;
    opacity: 0.5;
}
.carousel-control a:active{
    background-color: #e9c85d;
    opacity: 0.5;
}
